<!doctype HTML5>

<html land="en">
<head> 
	<meta charset= "utf-8">

	<title>Comics and Games</title>
	<meta name= "description" content="Our First CSS">
	<meta name="author" content="SitePoint">

	<link rel= "stylesheet" type="text/css" href="css/style.css">

</head>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'>Home</a></li>
   <li><a href='./products'>Products</a></li>
   <li><a href='./events'>Events</a></li>
   <li><a href='./contact_us'>Contact</a></li>
</ul>
</div>


<body>
		<div id="ourFirstDiv">
		<!-- <h2>Crit Hit Comics and Games </h2> -->
		<img src="./img/CritHitLogo.png" alt="Logo" style="width:40%;height:100%;">
		</div>

		<div id="ourSecondDiv">

			<ul id="ourList">
				<li> Item 1 </li>
				<li> Item 2 </li>
				<li> Item 3 </li>
			</ul>
		</div>
	</div>
</body>
</html>



<!doctype HTML5>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="style.css"> -->
<!--    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script> -->
   <title>CSS MenuMaker</title>
</head>

<html>

<!-- <img src="./img/pizzahut.jpg">
<a href="contact"><img src="./img/pizzahut.jpg"></a> -->